<table class="th container">
	<tr>
		<th style="background-color: #8984ff; color: #000000">
			HALL NAME/TIMING
		</th>
		<th style="background-color: #8984ff; color: #000000">8:10-9:10</th>
		<th style="background-color: #8984ff; color: #000000">9:10-10:10</th>
		<th style="background-color: #8984ff; color: #000000">10:35-11:35</th>
		<th style="background-color: #8984ff; color: #000000">11:35-12:35</th>
		<th style="background-color: #8984ff; color: #000000">1:30-2:30</th>
		<th style="background-color: #8984ff; color: #000000">2:30-3:30</th>
		<th style="background-color: #8984ff; color: #000000">3:30-4:30</th>
		<th style="background-color: #8984ff; color: #000000">4:30-5:30</th>
		<th style="background-color: #8984ff; color: #000000">5:30-6:30</th>
	</tr>
	<tr>
		<td style="background-color: #8984ff; color: #000000">
			<b>Amriteshwari Hall</b>
		</td>
		<td id="11"></td>
		<td id="21"></td>
		<td id="31"></td>
		<td id="41"></td>
		<td id="51"></td>
		<td id="61"></td>
		<td id="71"></td>
		<td id="81"></td>
		<td id="91"></td>
	</tr>
	<tr>
		<td style="background-color: #8984ff; color: #000000;">
			<b>Sudhamani Hall</b>
		</td>
		<td id="12"></td>
		<td id="22"></td>
		<td id="32"></td>
		<td id="42"></td>
		<td id="52"></td>
		<td id="62"></td>
		<td id="72"></td>
		<td id="82"></td>
		<td id="92"></td>
	</tr>
	<tr>
		<td style="background-color: #8984ff; color: #000000">
			<b>Rama Hall</b>
		</td>
		<td id="13"></td>
		<td id="23"></td>
		<td id="33"></td>
		<td id="43"></td>
		<td id="53"></td>
		<td id="63"></td>
		<td id="73"></td>
		<td id="83"></td>
		<td id="93"></td>
	</tr>
	<tr>
		<td style="background-color: #8984ff; color: #000000">
			<b>Vyasa Hall</b>
		</td>
		<td id="14"></td>
		<td id="24"></td>
		<td id="34"></td>
		<td id="44"></td>
		<td id="54"></td>
		<td id="64"></td>
		<td id="74"></td>
		<td id="84"></td>
		<td id="94"></td>
	</tr>
	<tr>
		<td style="background-color: #8984ff; color: #000000">
			<b>Krishna Hall</b>
		</td>
		<td id="15"></td>
		<td id="25"></td>
		<td id="35"></td>
		<td id="45"></td>
		<td id="55"></td>
		<td id="65"></td>
		<td id="75"></td>
		<td id="85"></td>
		<td id="95"></td>
	</tr>
	<tr>
		<td style="background-color: #8984ff; color: #000000">
			<b>E-Learning Hall</b>
		</td>
		<td id="16"></td>
		<td id="26"></td>
		<td id="36"></td>
		<td id="46"></td>
		<td id="56"></td>
		<td id="66"></td>
		<td id="76"></td>
		<td id="86"></td>
		<td id="96"></td>
	</tr>
	<tr>
		<td style="background-color: #8984ff; color: #000000">
			<b>Valmiki Hall</b>
		</td>
		<td id="17"></td>
		<td id="27"></td>
		<td id="37"></td>
		<td id="47"></td>
		<td id="57"></td>
		<td id="67"></td>
		<td id="77"></td>
		<td id="87"></td>
		<td id="97"></td>
	</tr>
</table>
