<table class="container">
    <tr>
        <th style="background-color: #483db8; color: #FFFFFF"></th>
        <th style="background-color: #483db8; color: #FFFFFF">8:10-9:10</th>
        <th style="background-color: #483db8; color: #FFFFFF">9:10-10:10</th>
        <th style="background-color: #483db8; color: #FFFFFF">10:35-11:35</th>
        <th style="background-color: #483db8; color: #FFFFFF">11:35-12:35</th>
        <th style="background-color: #483db8; color: #FFFFFF">1:30-2:30</th>
        <th style="background-color: #483db8; color: #FFFFFF">2:30-3:30</th>
        <th style="background-color: #483db8; color: #FFFFFF">3:30-4:30</th>
        <th style="background-color: #483db8; color: #FFFFFF">4:30-5:30</th>
        <th style="background-color: #483db8; color: #FFFFFF">5:30-6:30</th>
    </tr>
    <tr>
        <td style="background-color: #483db8; color: #FFFFFF">Amriteswari Hall</td>
        <td id="1a"></td>
        <td id="2a"></td>
        <td id="3a"></td>
        <td id="4a"></td>
        <td id="5a"></td>
        <td id="6a"></td>
        <td id="7a"></td>
        <td id="8a"></td>
        <td id="9a"></td>
    </tr>
    <tr>
        <td style="background-color: #483db8; color: #FFFFFF">Sudhamani Hall</td>
        <td id="1s"></td>
        <td id="2s"></td>
        <td id="3s"></td>
        <td id="4s"></td>
        <td id="5s"></td>
        <td id="6s"></td>
        <td id="7s"></td>
        <td id="8s"></td>
        <td id="9s"></td>
    </tr>
    <tr>
        <td style="background-color: #483db8; color: #FFFFFF">Rama Hall</td>
        <td id="1r"></td>
        <td id="2r"></td>
        <td id="3r"></td>
        <td id="4r"></td>
        <td id="5r"></td>
        <td id="6r"></td>
        <td id="7r"></td>
        <td id="8r"></td>
        <td id="9r"></td>
    </tr>
    <tr>
        <td style="background-color: #483db8; color: #FFFFFF">Vyasa Hall</td>
        <td id="1v"></td>
        <td id="2v"></td>
        <td id="3v"></td>
        <td id="4v"></td>
        <td id="5v"></td>
        <td id="6v"></td>
        <td id="7v"></td>
        <td id="8v"></td>
        <td id="9v"></td>
    </tr>
    <tr>
        <td style="background-color: #483db8; color: #FFFFFF">Krishna Hall</td>
        <td id="1k"></td>
        <td id="2k"></td>
        <td id="3k"></td>
        <td id="4k"></td>
        <td id="5k"></td>
        <td id="6k"></td>
        <td id="7k"></td>
        <td id="8k"></td>
        <td id="9k"></td>
    </tr>
    <tr>
        <td style="background-color: #483db8; color: #FFFFFF">E-learning Hall</td>
        <td id="1e"></td>
        <td id="2e"></td>
        <td id="3e"></td>
        <td id="4e"></td>
        <td id="5e"></td>
        <td id="6e"></td>
        <td id="7e"></td>
        <td id="8e"></td>
        <td id="9e"></td>
    </tr>
</table>