<div class="row container">
    <div class="input-field col s12">
      <input id="date_slot" type="text" class="datepicker" name="date_slot">
      <label>Choose a date</label>
    </div>
</div>


<table class="container">
        <tr>
          <th>         </th>
          <th>8:10-9:10</th>
          <th>9:10-10:10</th>
          <th>10:35-11:35</th>
          <th>11:35-12:35</th>
          <th>1:30-2:30</th>
          <th>2:30-3:30</th>
          <th>3:30-4:30</th>
          <th>4:30-5:30</th>
          <th>5:30-6:30</th>
        </tr>
        <tr >
          <td style="background-color: rgb(0, 4, 216)">Amriteswari Hall</td>
          <td class="colour" id="1a" onclick="selected()">           </td>
          <td class="colour" id="2a" onclick="selected()">           </td>
          <td class="colour" id="3a" onclick="selected()">           </td>
          <td class="colour" id="4a" onclick="selected()">           </td>
          <td class="colour" id="5a">           </td>
          <td class="colour" id="6a">           </td>
          <td class="colour" id="7a">           </td>
          <td class="colour" id="8a">           </td>
          <td class="colour" id="9a">           </td>
        </tr>
        <tr>
            <td style="background-color: rgb(0, 4, 216)">Sudhamani Hall</td>
            <td class="colour" id="1s">           </td>
            <td class="colour" id="2s">           </td>
            <td class="colour" id="3s">           </td>
            <td class="colour" id="4s">           </td>
            <td class="colour" id="5s">           </td>
            <td class="colour" id="6s">           </td>
            <td class="colour" id="7s">           </td>
            <td class="colour" id="8s">           </td>
            <td class="colour" id="9s">           </td>
        </tr>
        <tr>
            <td style="background-color: rgb(0, 4, 216)">Rama Hall</td>
            <td class="colour" id="1r">           </td>
            <td class="colour" id="2r">           </td>
            <td class="colour" id="3r">           </td>
            <td class="colour" id="4r">           </td>
            <td class="colour" id="5r">           </td>
            <td class="colour" id="6r">           </td>
            <td class="colour" id="7r">           </td>
            <td class="colour" id="8r">           </td>
            <td class="colour" id="9r">           </td>
          </tr>
          <tr>
              <td style="background-color: rgb(0, 4, 216)">Vyasa Hall</td>
              <td class="colour" id="1v">           </td>
              <td class="colour" id="2v">           </td>
              <td class="colour" id="3v">           </td>
              <td class="colour" id="4v">           </td>
              <td class="colour" id="5v">           </td>
              <td class="colour" id="6v">           </td>
              <td class="colour" id="7v">           </td>
              <td class="colour" id="8v">           </td>
              <td class="colour" id="9v">           </td>
            </tr>
            <tr>
                <td style="background-color: rgb(0, 4, 216)">Krishna Hall</td>
                <td class="colour" id="1k">           </td>
                <td class="colour" id="2k">           </td>
                <td class="colour" id="3k">           </td>
                <td class="colour" id="4k">           </td>
                <td class="colour" id="5k">           </td>
                <td class="colour" id="6k">           </td>
                <td class="colour" id="7k">           </td>
                <td class="colour" id="8k">           </td>
                <td class="colour" id="9k">           </td>
              </tr>
              <tr>
                  <td style="background-color: rgb(0, 4, 216)">E-learning Hall</td>
                  <td class="colour" id="1e">           </td>
                  <td class="colour" id="2e">           </td>
                  <td class="colour" id="3e">           </td>
                  <td class="colour" id="4e">           </td>
                  <td class="colour" id="5e">           </td>
                  <td class="colour" id="6e">           </td>
                  <td class="colour" id="7e">           </td>
                  <td class="colour" id="8e">           </td>
                  <td class="colour" id="9e">           </td>
                </tr>
    </table>
    <br>