<table class="th container">
	<tr>
		<th style="background-color: #8984ff; color: #000000">
			HALL NAME/TIMING
		</th>
		<th style="background-color: #8984ff; color: #000000">8:10-9:10</th>
		<th style="background-color: #8984ff; color: #000000">9:10-10:10</th>
		<th style="background-color: #8984ff; color: #000000">10:35-11:35</th>
		<th style="background-color: #8984ff; color: #000000">11:35-12:35</th>
		<th style="background-color: #8984ff; color: #000000">1:30-2:30</th>
		<th style="background-color: #8984ff; color: #000000">2:30-3:30</th>
		<th style="background-color: #8984ff; color: #000000">3:30-4:30</th>
		<th style="background-color: #8984ff; color: #000000">4:30-5:30</th>
		<th style="background-color: #8984ff; color: #000000">5:30-6:30</th>
	</tr>
	<tr>
		<td style="background-color: #8984ff; color: #000000">
			<b>Amriteshwari Hall</b>
		</td>
		<td id="1a"></td>
		<td id="2a"></td>
		<td id="3a"></td>
		<td id="4a"></td>
		<td id="5a"></td>
		<td id="6a"></td>
		<td id="7a"></td>
		<td id="8a"></td>
		<td id="9a"></td>
	</tr>
	<tr>
		<td style="background-color: #8984ff; color: #000000;">
			<b>Sudhamani Hall</b>
		</td>
		<td id="1s"></td>
		<td id="2s"></td>
		<td id="3s"></td>
		<td id="4s"></td>
		<td id="5s"></td>
		<td id="6s"></td>
		<td id="7s"></td>
		<td id="8s"></td>
		<td id="9s"></td>
	</tr>
	<tr>
		<td style="background-color: #8984ff; color: #000000">
			<b>Rama Hall</b>
		</td>
		<td id="1r"></td>
		<td id="2r"></td>
		<td id="3r"></td>
		<td id="4r"></td>
		<td id="5r"></td>
		<td id="6r"></td>
		<td id="7r"></td>
		<td id="8r"></td>
		<td id="9r"></td>
	</tr>
	<tr>
		<td style="background-color: #8984ff; color: #000000">
			<b>Vyasa Hall</b>
		</td>
		<td id="1v"></td>
		<td id="2v"></td>
		<td id="3v"></td>
		<td id="4v"></td>
		<td id="5v"></td>
		<td id="6v"></td>
		<td id="7v"></td>
		<td id="8v"></td>
		<td id="9v"></td>
	</tr>
	<tr>
		<td style="background-color: #8984ff; color: #000000">
			<b>Krishna Hall</b>
		</td>
		<td id="1k"></td>
		<td id="2k"></td>
		<td id="3k"></td>
		<td id="4k"></td>
		<td id="5k"></td>
		<td id="6k"></td>
		<td id="7k"></td>
		<td id="8k"></td>
		<td id="9k"></td>
	</tr>
	<tr>
		<td style="background-color: #8984ff; color: #000000">
			<b>E-Learning Hall</b>
		</td>
		<td id="1e"></td>
		<td id="2e"></td>
		<td id="3e"></td>
		<td id="4e"></td>
		<td id="5e"></td>
		<td id="6e"></td>
		<td id="7e"></td>
		<td id="8e"></td>
		<td id="9e"></td>
	</tr>
	<tr>
		<td style="background-color: #8984ff; color: #000000">
			<b>Valmiki Hall</b>
		</td>
		<td id="1vk"></td>
		<td id="2vk"></td>
		<td id="3vk"></td>
		<td id="4vk"></td>
		<td id="5vk"></td>
		<td id="6vk"></td>
		<td id="7vk"></td>
		<td id="8vk"></td>
		<td id="9vk"></td>
	</tr>
</table>
