<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ASE-B Hall Booking</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }

        td.random {
            background-color: red;
        }
    </style>
</head>

<body bgcolor="darkslateblue">
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/dashboard" class="brand-logo">ASE-B Hall Booking</a>
            <span style="color:black">Welcome! <script> sessionStorage.getItem(name); </script></span>
        </div>
    </nav>
    <div style="padding-left: 15%; padding-top: 2%">
        <button onclick="location.href = '/request'">Request Form</button>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
</body>

</html>