<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Facility Dashboard | AHMS</title>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
			type="text/css"
			rel="stylesheet"
			media="screen,projection"
		/>
		<link
			href="css/style.css"
			type="text/css"
			rel="stylesheet"
			media="screen,projection"
		/>
		<style>
			table,
			th,
			td {
				border: 1px solid #000000;
			}

			.colour {
				background-color: #62dd52;
			}

			.not_available {
				background-color: red;
				cursor: not-allowed;
			}

			td:hover {
				background-color: #ffcf8b;
			}

			.timewidth {
				width: 10%;
			}
		</style>
	</head>

	<body style="background-color: darkslateblue;">
		<nav class="white" role="navigation">
			<div class="nav-wrapper container">
				<a id="logo-container" href="/" class="brand-logo"
					>ASE-B Hall Booking</a
				>
				<button
					style="margin-left: 50%; margin-top: 2%; margin-bottom: 2%;background-color: #35377c"
					class="btn waves-effect waves-light"
					onclick="location.href = '/request'"
				>
					Request Form
				</button>
				&nbsp;
				<button
					style="margin-left: 10%;margin-top: 2%;margin-bottom: 2%;background-color: #35377c;"
					class="btn waves-effect waves-light"
					onclick="location.href = '/logout'"
				>
					Logout
				</button>
			</div>
		</nav>
		<div class="row ">
			<div class="col s12 m8 l8 offset-l2 offset-m2">
				<div class="card">
					<div>
						<div class="row">
							<form
								id="request_form"
								class="col s12"
								action="/makeRequest"
								method="post"
							>
								<div class="row">
									<h3 class="center">Request Form</h3>
								</div>
								<div class="container">
									<div class="input-field col s12">
										<input
											id="dateWanted"
											type="text"
											class="datepicker"
											name="dateWanted"
										/>
										<label>Choose a date</label>
									</div>
								</div>
								<%- include('calendarview.ejs') -%>
								<div class="container">
									<div class="input-field col s12">
										<input
											id="club_name"
											name="club_name"
											type="text"
											disabled
										/>
										<label for="club_name">Club Name</label>
									</div>
								</div>
								<div class="container">
									<div class="input-field col s12">
										<input
											id="desc"
											type="text"
											name="desc"
											disabled
										/>
										<label for="desc">Description</label>
									</div>
								</div>
								<div class="container">
									<div class="input-field col s12">
										<input
											id="event_name"
											type="text"
											name="event_name"
											disabled
										/>
										<label for="event_name"
											>Event Name</label
										>
									</div>
								</div>
								<div class="container">
									<div class="input-field col s12">
										<input
											id="requirements"
											type="text"
											name="requirements"
											disabled
										/>
										<label for="requirements"
											>Requirements</label
										>
									</div>
								</div>
								<br />
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="js/init.js"></script>
		<script>
			$(document).ready(function() {
				$('select').formSelect();
			});
			$('.datepicker').datepicker({
				selectMonths: true,
				selectYears: 15,
				today: 'Today',
				clear: 'Clear',
				close: 'Ok',
				closeOnSelect: false,
				format: 'yyyy/mm/dd'
			});
			$('#dateWanted').change(function() {
				var payload = {
					dateWanted: document.getElementById('dateWanted').value,
					slot_id: $(this)
						.attr('id')
						.charAt(0)
				};
				fetch('/checkAvailability', {
					method: 'POST',
					body: new URLSearchParams($.param(payload))
				})
					.then(function(response) {
						if (response.status !== 200) {
							alert(
								'Looks like there was a problem. Status Code: ' +
									response.status
							);
							return;
						}
						response.json().then(function(data) {
							$('.not_available').removeAttr('disabled');
							$('td').removeClass();
							var not_available = [];
							data.forEach(element => {
								for (
									let i = 0;
									i < element.slotHall.toString().length;
									i += 2
								) {
									not_available.push(
										element.slotHall.toString().charAt(i) +
											element.slotHall
												.toString()
												.charAt(i + 1)
									);
								}
							});
							console.log(not_available);
							not_available.forEach(element => {
								$('#' + element).toggleClass('not_available');
							});
							$('.not_available').attr('disabled', 'disabled');
						});
					})
					.catch(function(err) {
						alert('Fetch Error :-S', err);
					});
			});
			$('td').click(function() {
				if ($(this).attr('disabled') == 'disabled') {
					alert('Need to add function to fetch details!');
				} else {
					var identifier = $(this).attr('id');
					var slot_id = $(this)
						.attr('id')
						.charAt(0);
					var hall_id = $(this)
						.attr('id')
						.charAt(1);
					var payload = {
						dateWanted: document.getElementById('dateWanted')
							.value
					};
					fetch('/checkAvailability', {
						method: 'POST',
						body: new URLSearchParams($.param(payload))
					})
						.then(function(response) {
							if (response.status !== 200) {
								alert(
									'Looks like there was a problem. Status Code: ' +
										response.status
								);
								return;
							}
							response.json().then(function(data) {
								console.log(data);
								var list = [];
								var hall = [];
								var slot = [];
								if (Object.entries(data).length != 0) {
									data.forEach(element => {
										for (
											let i = 0;
											i <
											element.slotHall.toString().length;
											i += 2
										) {
											slot.push(
												element.slotHall
													.toString()
													.charAt(i)
											);
										}
										for (
											let i = 1;
											i <
											element.slotHall.toString()
												.length -
												1;
											i += 2
										) {
											hall.push(
												element.slotHall
													.toString()
													.charAt(i)
											);
										}
									});
									console.log(hall.length, ' ha ha', list);
									if (hall.includes(identifier)) {
										$('#' + identifier).toggleClass(
											'not_available'
										);
										$('.not_available').attr(
											'disabled',
											'disabled'
										);
									} else {
										$('#' + identifier).toggleClass(
											'colour'
										);
									}
								} else $('#' + identifier).toggleClass('colour');
							});
						})
						.catch(function(err) {
							alert('Fetch Error :-S', err);
						});
				}
			});
		</script>
	</body>
</html>
