<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ASE-B Hall Booking</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body bgcolor="darkslateblue">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">ASE-B Hall Booking</a>

    </div>
  </nav>
  
  <div class="container">
    <div class="row">Name</div>
    <div class="row">Department</div>
  </div>
  <div class="container">
    <center><h1>My Requests</h1></center>
    Name of hall,Date,Time,Purpose
    <button onclick="location.href = 'www.yoursite.com';">Edit</button>
    <button onclick="location.href = 'www.yoursite.com';">Accept</button>
    <button onclick="location.href = 'www.yoursite.com';">Reject</button>
    <br>
    Request 2
    <button onclick="location.href = 'www.yoursite.com';">Edit</button>
    <button onclick="location.href = 'www.yoursite.com';">Accept</button>
    <button onclick="location.href = 'www.yoursite.com';">Reject</button>
    <br>
    Request 3
    <button onclick="location.href = 'www.yoursite.com';">Edit</button>
    <button onclick="location.href = 'www.yoursite.com';">Accept</button>
    <button onclick="location.href = 'www.yoursite.com';">Reject</button>
    <br>
    <br>
  </div>

  <!--
  <div class="container" >
      <button onclick="location.href = 'www.yoursite.com';">Create Request</button>
  </div> -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>

</html>