<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Amrita Hall Management System</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="teal" role="navigation">
    <div class="nav-wrapper container">
      <img src="./images/amrita_logo.jpg" style="height: 100%; width: auto;">
      <a style="color: #ffffff" id="logo-container" href="#" class="brand-logo"><b>Amrita Hall Management System</b></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br>
        <br>
        <h1 style="color: #483d8b" class="header center text-lighten-2" >Book A Hall</h1>
        <div class="row center">
          <a style="background: #483d8b" href="/login" id="download-button" class="btn-large waves-effect waves-light lighten-1">LOGIN</a>
        </div>
        <br>
        <br>

      </div>
    </div>
    <div class="parallax">
      <img src="../images/img2.jpg" alt="Unsplashed background img 1" style="opacity: 0.6">
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">
              <i class="material-icons">flash_on</i>
            </h2>
            <h5 class="center">About Amrita University</h5>

            <p class="light">Amrita University is a multi-campus, multi-disciplinary research university that is accredited 'A' by NAAC and
              is ranked as one of the best research universities in India.
              <a href="https://www.amrita.edu/campus/bengaluru">
                Click to read more</a>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">
              <i class="material-icons">group</i>
            </h2>
            <h5 class="center">News</h5>

            <p class="light">What's new at Amrita?
              <a href=https://www.amrita.edu/news> Click to read more</a>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">
              <i class="material-icons">language</i>
            </h2>
            <h5 class="center">AUMS</h5>

            <p class="light">Amrita Technologies has developed an integrated world-class University Management System (UMS) which includes
              an e-learning platform Amrita Vidya, a web based software for effective management of learning services.
              <a href="https://aums-blr.amrita.edu:8444/cas/login?service=https%3A%2F%2Faums-blr.amrita.edu%3A8444%2Faums%2FJsp%2FCore_Common%2Findex.jsp">Click to read more</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  
  <div>
    <div style="background-color: #dddddd "   class="section">

      <div class="row">
        <div class="col s12 center">
          <h3>
            <i class="mdi-content-send brown-text"></i>
          </h3>
          <h3 style="color: #483d8b">Contact Us</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.2054787608718!2d77.67289511469276!3d12.894504990906517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae13479f912c41%3A0x5919577ad754c73e!2sAmrita+School+of+Engineering!5e0!3m2!1sen!2sin!4v1521886068374" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          
        </div>
      </div>

    </div>
  </div>


 <!-- <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">

      </div>
    </div>
    <div class="parallax">
      <img src="images/image2.jpg" alt="Unsplashed background img 3">
    </div>
  </div> -->

  <footer style="background-color: #483d8b" class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        Made by
        <p class=" text-lighten-3">Aravind, Abhishek, Aditya, Abhinay</p>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>

</html>