<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ASE-B Hall Booking</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="teal" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">ASE-B Hall Booking</a>




    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br>
        <br>
        <h1 class="header center teal-text text-lighten-2">Book It</h1>
        <div class="row center">
          <a href="/login" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br>
        <br>

      </div>
    </div>
    <div class="parallax">
      <img src="images/image3.jpg" alt="Unsplashed background img 1">
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">
              <i class="material-icons">flash_on</i>
            </h2>
            <h5 class="center">About Amrita University</h5>

            <p class="light">Amrita University is a multi-campus, multi-disciplinary research university that is accredited 'A' by NAAC and
              is ranked as one of the best research universities in India.
              <a href="https://www.amrita.edu/campus/bengaluru">
              Click to read more</a>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">
              <i class="material-icons">group</i>
            </h2>
            <h5 class="center">News</h5>

            <p class="light">What's new at Amrita?
              <a href=https://www.amrita.edu/news> Click to read more</a>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">
              <i class="material-icons">language</i>
            </h2>
            <h5 class="center">AUMS</h5>

            <p class="light">Amrita Technologies has developed an integrated world-class University Management System (UMS) which includes
              an e-learning platform Amrita Vidya, a web based software for effective management of learning services.
              <a
                href="https://aums-blr.amrita.edu:8444/cas/login?service=https%3A%2F%2Faums-blr.amrita.edu%3A8444%2Faums%2FJsp%2FCore_Common%2Findex.jsp">Click to read more</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Shradhavaan Labhathe Jnaanam (The earnest aspirant gains supreme wisdom)</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="images/image1.jpg" alt="Unsplashed background img 2">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3>
            <i class="mdi-content-send brown-text"></i>
          </h3>
          <h4>Contact Us</h4>
          <p class="left-align light">We are a team of college students working on a database management systems project that helps people book halls
            in Amrita University.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">

      </div>
    </div>
    <div class="parallax">
      <img src="images/image2.jpg" alt="Unsplashed background img 3">
    </div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by
        <a class="brown-text text-lighten-3" href="#">Pandas</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>

</html>